[submodule "external/leap-c"]
	path = external/leap-c
	url = git@github.com:llanesc/leap-c.git
	branch = dev
[submodule "external/crazyflow"]
	path = external/crazyflow
	url = git@github.com:llanesc/crazyflow.git
[submodule "hardware/crazyflie-lib-python"]
	path = hardware/crazyflie-lib-python
	url = git@github.com:llanesc/crazyflie-lib-python.git
[submodule "hardware/ros2_ws/src/crazyswarm2"]
	path = hardware/ros2_ws/src/crazyswarm2
	url = https://github.com/llanesc/crazyswarm2.git
[submodule "external/skrl"]
	path = external/skrl
	url = https://github.com/Toni-SM/skrl.git
